<body>
    <header class="show-promotions-header">
        <nav class="header-nav-bar">
            <a href="#"> <span class="fa fa-shopping-basket p-3"></span> </a>
            <a href="#"> <span class="fa fa-bell p-3"> </span> </a>
            <a href="#"> <span class="fa fa-user p-3"> </span> </a>
            <a href="show-items"> <span class="fa fa-chevron-left p-3"> </span> </a>
        </nav>
    </header>

    <div id="show-promotions-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#show-promotions-carousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#show-promotions-carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#show-promotions-carousel" data-bs-slide-to="2"></button>
        </div>
        
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let promotion of allPromotions; let i = index" [class.active]="i == 0">
                <div class="carousel-promotion">
                    <img src="{{ promotion.imageUrl }}" class="d-block w-100" alt="{{ promotion.name }}">
                    <div class="text-promotion">
                        <h2> {{ promotion.name }} </h2>
                        <p> {{ promotion.description }} </p>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#show-promotions-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#show-promotions-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <footer class="show-promotions-footer">
        <div class="contact-info">
            <p> TELEFON: 011/223-233 </p>
            <p> E-MAIL: slatki_zalogaji&#64;gmail.com </p>
            <p> BEOGRAD </p>
        </div>
    </footer>
</body>