<body>
    <header class="show-basket-header">
        <nav class="header-nav-bar">
            <a href="show-items"> <span class="fa fa-home p-3"></span> </a>
            <a href=""> <span class="fa fa-sign-out p-3"></span> </a>
        </nav>
    </header>

    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Artikal </th>
                    <th scope="col"> Kolicina </th>
                    <th scope="col"> Cena </th>
                    <th scope="col"> Ukupna cena </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="allPurchases.length == 0">
                    <td colspan="4"> KORPA JE PRAZNA </td>
                </tr>
                <tr *ngFor="let purchase of allPurchases">
                    <td> {{ purchase.itemName }} </td>
                    <td> {{ purchase.quantity }} </td>
                    <td> {{ purchase.price }} </td>
                    <td> {{ purchase.totalPrice }} </td>
                </tr>
            </tbody>
        </table>

        <div>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" (click)="previousPage()" [class.disabled]="currentPage == 1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" *ngFor="let page of getAllPages()">
                    <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="nextPage()" [class.disabled]="currentPage * itemsPerPage >= allPurchases.length" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <table class="total-price-table">
        <tbody>
            <tr>
                <td> <span class="total-items-price"> Ukupan iznos za uplatu: {{ totalItemsPrice }} </span> </td>
            </tr>
            <tr>
                <td> <button [disabled]="totalItemsPrice == 0" class="submit-order" (click)="confirmOrder()"> Potvrdi narudzbinu </button> </td>
            </tr>
        </tbody>
    </table>

    <footer class="show-basket-footer">
        <div class="contact-info">
            <p> TELEFON: 011/223-233 </p>
            <p> E-MAIL: slatki_zalogaji&#64;gmail.com </p>
            <p> BEOGRAD </p>
        </div>
    </footer>
</body>
