body {
    background-image: none;
    background-color: #F0ECE2;
}

.show-items-header {
    background-color: #C7B198;
    padding: 10px;
}

.header-nav-bar {
    display: flex;
    justify-content: flex-end;
}

.header-nav-bar a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15px;
}

.show-items-footer {
    background-color: #C7B198;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-info {
    max-width: 600px;
    margin: 0 auto;
}

.carousel-item {
    height: 500px;
    width: 55%;
    background-color: #F0ECE2;
    margin-left: 350px;
}

.carousel-control-prev-icon {
    filter: invert(100%);
}

.carousel-control-next-icon {
    filter: invert(100%);
}

img {
    height: 500px;
    box-shadow: 20px 20px 80px rgb(64, 64, 64, 0.4);
}

.show-items-button {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: #402A23;
    border-color: #402A23;
    margin-left: 30px;
    color: white;
    margin-bottom: 20px;
}

.show-items-button:hover {
    background-color: #000000;
    border: #000000;
}

