<body>
    <header class="show-cake-header">
        <nav class="header-nav-bar">
            <a href="#"> <span class="fa fa-shopping-basket p-3"></span> </a>
            <a href="#"> <span class="fa fa-bell p-3"> </span> </a>
            <a href="#"> <span class="fa fa-user p-3"> </span> </a>
            <a href="show-items"> <span class="fa fa-chevron-left p-3"> </span> </a>
        </nav>
    </header>

    <footer class="show-cake-footer">
        <div class="contact-info">
            <p> TELEFON: 011/223-233 </p>
            <p> E-MAIL: slatki_zalogaji&#64;gmail.com </p>
            <p> BEOGRAD </p>
        </div>
    </footer>
</body>