.registration-panel {
    min-height: 600px;
    width: 700px;
    box-shadow: 20px 20px 80px rgb(0, 0, 0);
    border-radius: 12px;
    margin-top: 50px;
    margin-left: 300px;
    background-color: #F0ECE2;
}

.registration-header {
    margin-top: 40px;
    margin-bottom: 40px;
}

.submit-button {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: #402A23;
    border-color: #402A23;
    margin-left: 30px;
    color: white;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #000000;
    border: #000000;
}

.input-field {
    border-radius: 5px;
    width: 400px;
    padding: 5px;
    margin-bottom: 15px;
}

.message-field {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.back-link {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.back-link:hover {
    font-size: 18px;
}
